
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}


.navbar{
    background-color: #FFFFFF;
    filter: drop-shadow(1px 3px 5px #a3a3a3);
    overflow: hidden;
    display: flex;
}

.navbar-list{
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 25px;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar-item a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 20px;
}

.navbar-item a:hover{
    margin: auto;
    background-color: #63B1AF;
    color: white;
}

.navbar-logo{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    object-fit: contain;
    
}
.navbar img{
    height: 100%;
    max-height: max-content;
}

.dashboard-background{
    position: relative;
    text-align: center;
}
.dashboard-background h2{
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 80px;
    display: flex;
}
.dashboard-background img{
    width: 100%;
    height: auto;
}

.container-block{
    display: flex;
}

.container-block img{
    object-fit: fill;
    max-width: 40%;
}

.container-block-header{
    width: 100%;
    background-color: #A0DDDC;
}

.container-block-header h3{
    margin-top: 10px;
    padding: 2%;
    background-color: #63B1AF;

}
.container-block-header p{
    width: 100%;
    height: auto;
    background-color: #a0dddc;
    font-size: 18px;
    
}

.card-header{
    background-color: #63B1AF;
    width: 230px;
    max-width: 350px;
    text-align: center;
    padding-left: 30px;
    padding-right: 40px;
    border-style: solid;
    border-radius: 10px 10px 40px 10px;
    margin-top: 70px;
    margin-left: 30px;

}

.card-header h3{
    margin: auto;
    padding: 10px;
}

.card-container{
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #A0DDDC;
    margin-top: 40px;
    box-sizing: border-box;
}

.card{
    width: 300px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    margin: 30px;
}

.card img{
    
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content{
    background-color: #F0F0F0;
    padding: 5px;
}
.card-content h4{
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.footer{
    background-color: #232323;
}

.footer img{
    padding-top: 10px;
    margin: 30px;
}

.footer p{
    padding: 30px;
    color: #FFFFFF;
}